<html>
<meta charset="utf-8">

<head>
    <title>Home Vue</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style type="text/css">
        .modal-mask {
            position: fixed;
            z-index: 9998;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            display: table;
            transition: opacity .5s ease;
        }

        .modal-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-12">

            <div id="app">
                <div class="mt-4 col-md-10 offset-md-1 card">
                    <div class="card-header bg-success">
                        <h4 class="text-white"><i class="fa fa-file-text-o"></i> Usuários</h4>
                    </div>
                    <div id="div_form" class="card-body" v-if="mostrar_div">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead class="bg-light">
                                    <tr>
                                        <th>COD.</th>
                                        <th>NOME</th>
                                        <th>CPF</th>
                                        <th>TELEFONE</th>
                                        <th>E-MAIL</th>
                                        <th>AÇÕES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="usuario of usuarios" :key="usuario.id">
                                        <td>{{usuario.id}}</td>
                                        <td>{{usuario.nome}}</td>
                                        <td>{{usuario.cpf}}</td>
                                        <td>{{usuario.fone}}</td>
                                        <td>{{usuario.email}}</td>
                                        <td class="col-md-1">
                                            <div class="btn-group gap-1">
                                                <button class="btn btn-success" @click="showModalEditar = true" title="Editar Registro"><i
                                                        class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger" @click="showModalDeletar = true" title="Deletar Registro"><i
                                                        class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer col-md-12">
                        <div class="d-grid d-md-flex gap-2 col-md-12 justify-content-center">
                            <button v-if="mostrar_div" type="button" class="btn btn-success col-md-4" title="Adicionar Registro"><i
                                    class="fa fa-plus"></i> Novo</button>

                            <button v-if="!mostrar_div" type="button" class="btn btn-success col-md-4"
                                v-on:click="mostrar"><i class="fa fa-eye"></i> Mostrar Tabela</button>
                            <button v-if="mostrar_div" type="button" class="btn btn-danger col-md-4"
                                v-on:click="esconder"><i class="fa fa-eye-slash"></i> Esconder Tabela</button>
                        </div>
                    </div>

                </div>
                <div v-if="showModalEditar">
                    <transition name="modal">
                        <div class="modal-mask">
                            <div class="modal-wrapper">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">EDITAR USUÁRIO</h5>
                                            <button type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true" @click="showModalEditar = false">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Modal body text goes here.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                @click="showModalEditar = false">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>

                <div v-if="showModalDeletar">
                    <transition name="fade">
                        <div class="modal-mask">
                            <div class="modal-wrapper">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">DELETAR USUÁRIO</h5>
                                            <button type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true"
                                                    @click="showModalDeletar = false">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Modal body text goes here.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                @click="showModalDeletar = false">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>

        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/317a1e24e9.js" crossorigin="anonymous"></script>
<script src="js/index.js"></script>

</html>